src/IO.Dtos/Xsd/LogEventDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Event.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Log.xsd" />

  <xs:complexType name="BdoLogEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="resultCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="source" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="stack.traces" type="ArrayOfLogEventStackTrace" />
          <xs:element minOccurs="0" maxOccurs="1" name="BdoLog" type="BdoLog" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfLogEventStackTrace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stack.trace" type="LogEventStackTrace" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LogEventStackTrace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="fullClassName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="methodName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="methodParams" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="filePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lineNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>