src/BindOpen.Logging.Dtos/Logs/BdoRuntimeLogDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DescribedDataItem.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/ProcessExecution.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/TaskConfiguration.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataElementSet.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/Event.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/LogEvent.xsd" />

  <xs:complexType name="BdoLog">
    <xs:complexContent mixed="false">
      <xs:extension base="DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="execution" type="ProcessExecution" />
          <xs:element minOccurs="0" maxOccurs="1" name="task" type="BdoTaskConfiguration" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail" type="DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="parent" type="BdoLog" />
          <xs:element minOccurs="0" maxOccurs="1" name="children" type="ArrayOfLog_Log" />
          <xs:element minOccurs="0" maxOccurs="1" name="events" type="ArrayOfLogEvent_Log" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfLog_Log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="child" nillable="true" type="BdoLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLogEvent_Log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BdoEvent" nillable="true" type="BdoLogEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LoggerMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="Manual" />
      <xs:enumeration value="Auto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LogFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Yaml" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Snap" />
      <xs:enumeration value="Report" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>